@inject IRequestService _service
@page "/history"


@inject NavigationManager _nav
<h3>History</h3>

@if (@*Hamsters is null ||*@ Matches is null)
{
    <p>Loading</p>
}
else
{<RadzenGrid AllowPaging="true"
            AllowFiltering="true"
            AllowSorting="true"
            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
            PageSize="10"
            Data="@AllRegisteredHamsterMatches"
            TItem="@MatchResultDTO"
            ColumnWidth="300px">

        <Columns>
            <RadzenGridColumn TItem="@MatchResultDTO" Property="MatchId" Title="Match Id"></RadzenGridColumn>
            <RadzenGridColumn TItem="@MatchResultDTO" Property="WinningHamster.Name" Title="Winners"></RadzenGridColumn>
            <RadzenGridColumn TItem="@MatchResultDTO" Property="LosingHamster.Name" Title="Losers"></RadzenGridColumn>
            <RadzenGridColumn TItem="@MatchResultDTO" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                <Template Context="result">
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.Medium" Click="() => DeleteRow(result.MatchId)">Delete</RadzenButton>
                </Template>
            </RadzenGridColumn>
        </Columns>

    </RadzenGrid>


    @*<table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Winning Hamster</th>
                <th scope="col">Losing Hamster</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in Matches)
            {


                <tr>
                    <th scope="row">@result.Id</th>

                    <td>@result.Winner.Name</td>
                    <td>@result.Loser.Name</td>

                    <td><button type="button" @onclick="(() => RemoveOneMatch(result))" class="btn btn-danger">Remove Match</button></td>
                </tr>
            }
        </tbody>
    </table>*@
}

