@inject IRequestService _service
@page "/history"


@inject NavigationManager _nav
<h3>History</h3>

@if (@*Hamsters is null ||*@ Matches is null)
{
    <p>Loading</p>
}
else
{
    <RadzenGrid AllowPaging="true"
           
            
            PageSize="10"
            Data="@Matches"
            TItem="@MatchHistoryDto"
            ColumnWidth="300px">

        <Columns>
            <RadzenGridColumn TItem="@MatchHistoryDto" Property="Id" Title=""></RadzenGridColumn>
            <RadzenGridColumn TItem="@MatchHistoryDto" Property="Winner.Name" Title=""></RadzenGridColumn>
            <RadzenGridColumn TItem="@MatchHistoryDto" Property="Loser.Name" Title="Losers">
            <Template Context="result">
                    @*<RadzenButton ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.Medium" Click="() => DeleteRow(result.Id)">Delete</RadzenButton>*@
                </Template>
            </RadzenGridColumn>
        </Columns>

    </RadzenGrid>


    @*<table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Winning Hamster</th>
                <th scope="col">Losing Hamster</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in Matches)
            {


                <tr>
                    <th scope="row">@result.Id</th>

                    <td>@result.Winner.Name</td>
                    <td>@result.Loser.Name</td>

                    <td><button type="button" @onclick="(() => RemoveOneMatch(result))" class="btn btn-danger">Remove Match</button></td>
                </tr>
            }
        </tbody>
    </table>*@
}

