<style>
    img {
        border-radius: 50%;
    }
</style>

<div class="col-lg-6 mb-5">
    <RadzenCard>

        <RadzenDataList WrapItems="true" AllowPaging="true" Data="@hamsters" TItem="Hamster" PageSize="5" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
            <Template Context="data">
                <RadzenCard Style="width: 100%; padding: 0; overflow: hidden;">
                    <h5 class="mb-1 ">@Header</h5>
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-4 p-1 title">
                                Name: <strong> @(data.Name)</strong><br>
                                Age: @(data.Age) Years<br />
                                Favorite Activity: @(data.Loves)
                                Favorite Food@(data.FavFood)
                            </div>
                                <img style="width: 40%; height:40%" src="/Content/@data.ImgName">
                           
                            

                        </div>
                    </div>
                </RadzenCard>
            </Template>
        </RadzenDataList>

    </RadzenCard>
</div>


@*<div class="col-lg-6 mb-5">
    <div class="card h-100">
        <div class="card-header">
            <h4 class="label">@Header</h4>
        </div>
        <div class="card-body">
            <Table Id="hoverableTable" Class="table-hover" Tooltip>
                <tr hidden>
                    <th style="width: 25px;" class="image">Image</th>
                    <th>Name</th>
                    <th>Wins</th>
                    <th>Gamse</th>
                </tr>
                @foreach (var data in hamsters)
                {
                    <tr hidden>
                        <td class="image">

                            <img style="width: 90px; height: 90px;" src="/Content/@data.ImgName" />

                        </td>
                        <td>@data.Name</td>
                        <td>@data.Wins</td>
                        <td>@data.Games</td>
                    </tr>
                }
            </Table>
        </div>
    </div>
</div>
*@

@code {
    [Parameter]
    public IEnumerable<Hamster> hamsters { get; set; }
    [Parameter]
    public string Header { get; set; }

}


