<style>
    img {
        border-radius: 50%;
    }
</style>

<div class="col-lg-6 mb-5">
    <RadzenCard>

        <RadzenDataList WrapItems="true" AllowPaging="true" Data="@hamsters" TItem="Hamster" PageSize="5" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
            <Template Context="data">
                <RadzenCard Style="width: 100%; padding: 0; overflow: hidden;">
                    <h5 class="mb-1 ">@Header</h5>
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-4 p-1 title">
                                Name: <strong> @(data.Name)</strong><br>
                                Age: @(data.Age) Years<br />
                                Wins: @(data.Wins)<br />
                               Games: @(data.Games)
                               Games: @(data.Defeats)
                            </div>
                                <img style="width: 40%; height:40%" src="/Content/@data.ImgName">
                           
                            

                        </div>
                    </div>
                </RadzenCard>
            </Template>
        </RadzenDataList>

    </RadzenCard>
</div>




@code {
    [Parameter]
    public IEnumerable<Hamster> hamsters { get; set; }
    [Parameter]
    public string Header { get; set; }

}


